<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">

    <?include Include.wxi?>

    <!--<Bundle 
        Name="$(var.PackageFriendlyName)"
        Version="1.3.5.0"
        UpgradeCode="F8813946-36C3-4ABE-96F6-F219039EE899">

        <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.RtfLicense"/>

        <util:RegistrySearch
            Id="REG_ARCH"
            Root="HKLM"
            Key="SYSTEM\CurrentControlSet\Control\Session Manager\Environment"
            Value="PROCESSOR_ARCHITECTURE"
            Result="value"
            Variable="ARCH_NAME" />
        
        <util:ProductSearch
            Id="VCRUNTIME_X64"
            Result="version"
            Variable="VCRUNTIME_X64_VER"
            UpgradeCode="36F68A90-239C-34DF-B58C-64B30153CE35"
            Condition="VersionNT64 AND (ARCH_NAME = &quot;AMD64&quot;)"
            After="REG_ARCH" />

        <Variable Name="VCRUNTIME_VER" Type="version" Value="14.40.33810.0" />

        <Chain>
            <ExePackage
                Id="VC_REDIST_X64"
                DisplayName="Microsoft Visual C++ 2015-2022 Redistributable (x64)"
                Cache="remove"
                PerMachine="yes"
                Permanent="yes"
                Protocol="burn"
                DetectCondition="(VCRUNTIME_X64_VER &gt;= VCRUNTIME_VER) AND VersionNT64 AND (ARCH_NAME = &quot;AMD64&quot;)"
                InstallArguments="/install /quiet /norestart"
                RepairArguments="/repair /quiet /norestart"
                UninstallArguments="/uninstall /quiet /norestart">
                <ExePackagePayload
                    SourceFile="VC_redist.x64.exe"
                    DownloadUrl="https://aka.ms/vs/17/release/vc_redist.x64.exe"/>
            </ExePackage>
        </Chain>

    </Bundle>-->
</Wix>
