<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <?include Include.wxi?>
    <Fragment>
        <StandardDirectory Id="ProgramFiles6432Folder">
            <Directory Id="INSTALLFOLDER" Name="$(var.PackageCleanName)" />
        </StandardDirectory>

        <StandardDirectory Id="ProgramMenuFolder">
            <Directory Id="ApplicationProgramsFolder" Name="$(var.PackageFriendlyName)"/>
        </StandardDirectory>
    </Fragment>
</Wix>
