<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <?include Include.wxi?>
    <Package Name="$(var.PackageFriendlyName)" Manufacturer="psyKomicron" Version="$(var.Version)" UpgradeCode="$(var.UpgradeCode)">
        <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

        <MediaTemplate EmbedCab="yes" />
        <!--<Icon Id="PackageIcon" SourceFile="msft.png"/>
        <Property Id="ARPPRODUCTICON" Value="PackageIcon"/>-->

        <Feature Id="Main">
            <ComponentGroupRef Id="SourceComponents" />
            <ComponentGroupRef Id="Components" />
            <ComponentGroupRef Id="RegistryRootKey"/>
            <ComponentGroupRef Id="WasdkInstaller" />
        </Feature>
    </Package>
</Wix>
