<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <?include Include.wxi?>
    <Fragment>
		<ComponentGroup Id="SourceComponents" Directory="INSTALLFOLDER">
			<Component>
				<File Source="..\x64\Release\ClipboardManager\App.xbf"/>
			</Component>
			<Component>
				<File Source="..\x64\Release\ClipboardManager\ClipboardActionEditor.xbf"/>
			</Component>
			<Component>
				<File Source="..\x64\Release\ClipboardManager\ClipboardActionView.xbf"/>
			</Component>
			<!--<Component>
                <File Id="ClipboardManagerExe" Source="..\x64\Release\ClipboardManager\ClipboardManager.exe"/>
			</Component>-->
			<Component>
				<File Source="..\x64\Release\ClipboardManager\ClipboardManager.exp"/>
			</Component>
			<Component>
				<File Source="..\x64\Release\ClipboardManager\ClipboardManager.ico"/>
			</Component>
			<Component>
				<File Source="..\x64\Release\ClipboardManager\ClipboardManager.lib"/>
			</Component>
			<Component>
				<File Source="..\x64\Release\ClipboardManager\ClipboardManager.winmd"/>
			</Component>
			<Component>
				<File Source="..\x64\Release\ClipboardManager\ClipboardTriggerEditControl.xbf"/>
			</Component>
			<Component>
				<File Source="..\x64\Release\ClipboardManager\HostControl.xbf"/>
			</Component>
			<Component>
				<File Source="..\x64\Release\ClipboardManager\MainPage.xbf"/>
			</Component>
			<Component>
				<File Source="..\x64\Release\ClipboardManager\MessagesBar.xbf"/>
			</Component>
			<Component>
				<File Source="..\x64\Release\ClipboardManager\Microsoft.WindowsAppRuntime.Bootstrap.dll"/>
			</Component>
			<Component>
				<File Source="..\x64\Release\ClipboardManager\RegexTesterControl.xbf"/>
			</Component>
			<Component>
				<File Source="..\x64\Release\ClipboardManager\resources.pri"/>
			</Component>
			<Component>
				<File Source="..\x64\Release\ClipboardManager\SearchSuggestionView.xbf"/>
			</Component>
			<Component>
				<File Source="..\x64\Release\ClipboardManager\SettingsPage.xbf"/>
			</Component>
			<Component>
				<File Source="..\x64\Release\ClipboardManager\small.ico"/>
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
