<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <ComponentGroup Id="WasdkInstaller" Directory="INSTALLFOLDER">
            <Component Id="WasdkInstallerExe">
                <File Id="InstallerExe" Source="windowsappruntimeinstall-x64.exe"/>
            </Component>
        </ComponentGroup>

        <CustomAction 
            Id="INSTALL_WASDK"
            Impersonate="no"
            Return="check"
            FileRef="InstallerExe"
            ExeCommand=""/>

        <InstallExecuteSequence>
            <Custom Action="INSTALL_WASDK" After="InstallFinalize" Condition="NOT Installed"/>
        </InstallExecuteSequence>
    </Fragment>
</Wix>
